
- item ||= @object

- if item.class.name == 'Product'
  %h5.clickable.closed{:onclick=>"flipElement('flags_specific');"}= "[FLAGS] &rarr; Product".html_safe
  #flags_specific.noshow
    %table.first
      %tbody
        = RDisplay.yn_row(item,:p_sigma,:display=>:y_strong,:label=>'Published Sigma')
        = RDisplay.yn_row(item,:p_bulk,:display=>:y_strong,:label=>'Published Bulk')
    %table.last
      %tbody
        = RDisplay.yn_row(item,:p_wholesale,:display=>:y_strong,:label=>'Published Wholesale')
        = RDisplay.yn_row(item,:p_restricted_use,:display=>:y_strong,:label=>'Published Restricted Use')
        = RDisplay.yn_row(item,:p_notice_to_purchaser,:display=>:y_strong,:label=>'Published Notice to Purchaser')
