
- item ||= @object

.block
  .title= 'User Details'
  .inside
    %table.first
      %tbody
        = RDisplay.id_row(item,:class=>'low')
        = RDisplay.data_row(item,:name)
        = RDisplay.data_row(item,:title)
        = RDisplay.data_row(item,:description)
    %table.last
      %tbody
        = RDisplay.data_row(item,:email)

.block
  .title= 'User Roles Overview'
  .inside
    %table
      %tbody
        = RDisplay.row('Access Roles',item.get_roles(:access=>true))
        = RDisplay.row('Action Roles',item.get_roles(:action=>true))
        = RDisplay.row('System Roles',item.get_roles(:system=>true))
        = RDisplay.row('Special Roles',item.get_roles(:special=>true))
