
%h5= 'Admin Roles'
%table
  %tbody
    = RDisplay.yn_row(item,:admin,:display=>:y_alert,       :info=>field_info('Has access to everything',:show=>item.admin))
    = RDisplay.yn_row(item,:developer,:display=>:y_alert,   :info=>field_info('Can view dev info and perform dev actions',:show=>item.developer))

%h5= 'Action Roles'
%table
  %tbody
    = RDisplay.yn_row(item,:creator,:display=>:y_alert,     :info=>field_info('Can create accessible object',:show=>item.creator))
    = RDisplay.yn_row(item,:editor,:display=>:y_alert,      :info=>field_info('Can edit accessible object',:show=>item.editor))
    = RDisplay.yn_row(item,:destroyer,:display=>:y_alert,   :info=>field_info('Can destroy accessible object',:show=>item.destroyer))
    = RDisplay.yn_row(item,:releaser,:display=>:y_alert,    :info=>field_info('Can release accessible object',:show=>item.releaser))

%h5= 'Access Roles'
%table
  %tbody
    = RDisplay.yn_row(item,:documents,:display=>:y_strong,  :info=>field_info('Can view, create, and edit Documents and Publications',:show=>item.documents))
    = RDisplay.yn_row(item,:inventory,:display=>:y_strong,  :info=>field_info('Can view, create, and edit SKUs, Products, and Courses',:show=>item.inventory))
    = RDisplay.yn_row(item,:website,:display=>:y_strong,    :info=>field_info('Can view, create, and edit Pages, Forms, Partials, and all layout elements',:show=>item.website))
    = RDisplay.yn_row(item,:web_glossary,:display=>:y_strong,   :info=>field_info('Can view, create, and edit Glossary objects',:show=>item.web_glossary))
    = RDisplay.yn_row(item,:web_social,:display=>:y_strong,     :info=>field_info('Can view, create, and edit social objects',:show=>item.web_social))
    = RDisplay.yn_row(item,:web_faq,:display=>:y_strong,        :info=>field_info('Can view, create, and edit FAQ objects',:show=>item.web_faq))
    = RDisplay.yn_row(item,:media,:display=>:y_strong,      :info=>field_info('Can view, create, and edit Images and Videos',:show=>item.media))
    = RDisplay.yn_row(item,:live,:display=>:y_alert,        :info=>field_info('Can access live data',:show=>item.live))

%h5= 'Special Roles'
%table
  %tbody                                                   
    = RDisplay.yn_row(item,:special,:display=>:y_alert,     :info=>field_info('Can access additional information (reports)',:show=>item.special))
    = RDisplay.yn_row(item,:system,:display=>:y_alert,      :info=>field_info('Can system additional information',:show=>item.system))

