
- item ||= @object

.strip.undertabs

  .buttons.fright
    - if item.editable
      = link_to 'Edit Roles', "/users/#{item.id}/edit_roles", :class=>'edit'
      = link_to 'Edit Details', "/users/#{item.id}/edit", :class=>'edit'
    - else
      = 'You cannot edit this User.'

  .tabs.small
    = link_to_function 'Details', "changeTab('tab_01')", :id=>'tab_01_a', :class=>'here'
    = link_to_function 'Roles',   "changeTab('tab_02')", :id=>'tab_02_a'
    = link_to_function 'Timeline',"changeTab('tab_03')", :id=>'tab_03_a'

#tab_01
  = render :partial=>'details',  :locals=>{:item=>item}

#tab_02.noshow
  = render :partial=>'roles',  :locals=>{:item=>item}

#tab_03.noshow
  = render :partial=>'/shared/display/timeline', :locals=>{:item=>item}
