
- item ||= @object

= render :partial=>'/layouts/filters'

.buttons.top
  - if item.editable && item.active
    = link_to 'Disable', "/users/#{item.id}/activate", :class=>'small disable'
    = buttons_divider
  - elsif item.editable
    = link_to 'Enable', "/users/#{item.id}/activate", :class=>'small enable'
    = buttons_divider
  = link_to 'List',users_path,:class=>'list'

= page_title_for item, :show

.tabs

  = link_to "Details","?show[details]=yes", :class=>here_class(params[:show],'details',true)

.undertabs
  
  - if params[:show] == nil || params[:show] && params[:show][:details]
    = render :partial=>'show_details'
