<table class='devise'>
  <tbody>
    <tr>
      <td class='left'>

       <h2>Forgot your password?</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

        <div class='submit'><%= f.submit "Send me reset password instructions" %></div>
      <% end %>

      </td>
      <td class='right'>

        <h2>Or else</h2>
        
          <%= render :partial => "devise/shared/links" %>

      </td>
    </tr>
  </tbody>
</table>
