
- item       ||= f.object || @object
- table_name ||= item.class.name.tableize
- class_name ||= table_name.singularize
- field_name ||= 'content'
- height     ||= 300

= page_title_for item, :edit, field_name.to_s.titleize

- form_for(item,:url=>"/#{table_name}/#{item.id}/update_#{field_name}") do |f|
  = render :partial=>'/shared/entry/errors'
  
  %h5= "[HTML] &rarr; #{field_name.to_s.titleize}".html_safe
  .content_block.for_ckeditor
    .ckeditor_wrapper= f.cktext_area(field_name.to_sym,:height=>height)

  = render :partial=>'/shared/entry/editorial_comment', :locals=>{:f=>f}

.buttons.bot.for_form
  = RDisplay.cancel_form_link("/#{table_name}/#{item.id}?show[#{field_name}]=yes")
  = RDisplay.submit_form_link("edit_#{class_name}_#{item.id}")
