
- items  ||= @objects
- sorter ||= controller.action_name == 'index'


.block
  .title= 'SKUs'
  .inside
    - if items && items.size>0
      %table.list
        %tbody
          %tr
            %th.id.key= RFilterHelper.sort_by_link('ID','id',@filter,sorter)
            %th.str.code= RFilterHelper.sort_by_link('Code','code',@filter,sorter)
            %th.aright.price= RFilterHelper.sort_by_link('Price','price',@filter,sorter)
            %th.str= 'Details'
            %th.code= 'Owner'
            %th.status= 'Status'

          - reset_cycle
          - items.each do |item|
            %tr{:class=>cycle('odd','even')+row_class_for(item)}
              %td.id.key= RDisplay.id_link(item)
              %td.str.code= link_to RDisplay.str(item.code), item, :class=>'low'
              %td.aright.price= RDisplay.dollars(item.price)
              %td.details= item.get_details
              %td.code= item.get_link_to_owner(:short)
              %td.status= item.get_flags
  
    - else
      = no_items_found
