
- item          ||= @object
- help_partials ||= []
- no_actions    ||= false
- table_name    ||= item.class.name.tableize
- class_name    ||= table_name.singularize
- field_name    ||= :content
- title         ||= field_name.to_s.titleize

.strip.undertabs

  - unless no_actions
    .buttons.fright
      = link_to "Edit #{title}", "/#{table_name}/#{item.id}/edit_#{field_name}", :class=>'edit'

  .tabs.small
    - tabs = "['#{field_name}_text','#{field_name}_code','#{field_name}_raw']"
    = link_to_function "Plain", "goTo('#{field_name}_text',#{tabs})", :id=>"#{field_name}_text_a", :class=>"here" 
    = link_to_function "Code", "goTo('#{field_name}_code',#{tabs})", :id=>"#{field_name}_code_a"
    = link_to_function "Raw",  "goTo('#{field_name}_raw',#{tabs})", :id=>"#{field_name}_raw_a"

.block
  %div{:id=>"#{field_name}_text"}
    .title= safe "<span class='low'>[PLAIN] &rarr; </span> #{title}"
    .content
      = safe item.try(field_name.to_sym)
  %div.noshow{:id=>"#{field_name}_code"}
    .title.low= safe "<span class='low'>[CODE] &rarr; </span> #{title}"
    .content
      %pre= item.try(field_name.to_sym)
  %div.noshow{:id=>"#{field_name}_raw"}
    .title.low= safe "<span class='low'>[RAW] &rarr; </span> #{title}"
    .content
      %code= item.try(field_name.to_sym)

