
- item ||= @object

= render :partial=>'/shared/help/index', :locals=>{:blocks=>[:form_colors],:local_blocks=>[:details_help]}

.buttons.top.for_form
  = RDisplay.cancel_form_link("/documents")
  = RDisplay.submit_form_link("new_document")

= new_title_for item

= form_for(item) do |f|
  = render :partial=>'/shared/entry/errors'

  = render :partial=>'details_entry', :locals=>{:f=>f}
  = render :partial=>'/shared/entry/editorial_comment', :locals=>{:f=>f}

.buttons.bot.for_form
  = RDisplay.cancel_form_link("/documents")
  = RDisplay.submit_form_link("new_document")
