
- item ||= @object

= render :partial=>'/layouts/filters'
= render :partial=>'/layouts/condition'

.buttons.top
  = link_to 'List',categories_path,:class=>'list'

= page_title_for item, :show

.tabs

  = link_to "Details","?show[details]=yes", :class=>here_class(params[:show],'details',true)
  = tabs_divider
  = link_to "Abstract","?show[abstract]=yes", :class=>here_class(params[:show],'abstract')
  = link_to "Content","?show[content]=yes", :class=>here_class(params[:show],'content')
  .f-right
    = link_to "H","?show[history]=yes", :class=>here_class(params[:show],'history')
    = link_to "Comments","?show[comments]=yes", :class=>here_class(params[:show],'comments')

.undertabs

  - if params[:show] == nil || params[:show] && params[:show][:details]
    = render :partial=>'show_details'

  - elsif params[:show] && params[:show][:abstract]
    = render :partial=>'/shared/display/show_html_block', :locals=>{:field_name=>'abstract'}
  - elsif params[:show] && params[:show][:content]
    = render :partial=>'/shared/display/show_html_block', :locals=>{:field_name=>'content'}

  - elsif params[:show] && params[:show][:history]
    = render :partial=>'/shared/display/show_history', :locals=>{:field_name=>:history,:no_actions=>true}
  - elsif params[:show] && params[:show][:comments]
    = render :partial=>'/shared/display/show_comments'
