
- block_id = 'h_form_colors'

.block.help
  .title.clickable.closed{:id=>"#{block_id}_t",:onclick=>"flipBlock('#{block_id}');"}= "<span class='tag'></span>Form Field Colors Explanation".html_safe
  .content.noshow{:id=>block_id}

    .field.optional= 'Optional Fields'
    %ul
      %li= "fields which are optional - most likely this means that they are only used locally within StemSite"

    .field.automatic= 'Automatic Fields'
    %ul
      %li= "fields which are needed but will be filled out automatically by the system if left empty"

    .field.necessary= 'Necessary Fields'
    %ul
      %li= "fields which can be left empty for now but will need to be filled in in order for the object to be released."
    
    .field.required= 'Required Fields'
    %ul
      %li= "fields which are required to be non-empty in order for the for to be submitted"

