
- item        ||= @object
- table_name  ||= item.class.name.tableize

.block
  .title= 'Course Details'
  .inside
    %table
      %tbody
        = RDisplay.id_row(item,:class=>'low')
        = RDisplay.data_row(item,:code,:label=>'Base SKU')
        = RDisplay.data_row(item,:name)
        = RDisplay.data_row(item,:title)
