
- item  ||= @object

= page_title_for item, :edit, 'Attached Products'

= nested_form_for(item,:url=>"/courses/#{item.id}/update_products") do |f|
  = render :partial=>'/shared/entry/errors'
  

  %h5= 'Product Relations'
  .content_block.for_line_items
    - f.fields_for :course_relations do |course_relation_form|
      = render :partial=>'course_relation_fields', :locals=>{:f=>course_relation_form}
    = f.link_to_add "Add a Relation", :course_relations

  %h5= 'Product Components'
  .content_block.for_line_items
    - f.fields_for :course_components do |course_component_form|
      = render :partial=>'course_component_fields', :locals=>{:f=>course_component_form}
    = f.link_to_add "Add a Component", :course_components
  
  %h5= 'Product Suggestions'
  .content_block.for_line_items
    - f.fields_for :course_suggestions do |course_suggestion_form|
      = render :partial=>'course_suggestion_fields', :locals=>{:f=>course_suggestion_form}
    = f.link_to_add "Add a Suggestion", :course_suggestions

  = render :partial=>'/shared/entry/editorial_comment', :locals=>{:f=>f}

.buttons.bot.for_form
  = RDisplay.cancel_form_link("/courses/#{item.id}?show[products]=yes")
  = RDisplay.submit_form_link("edit_course_#{item.id}")
