
- item ||= f.object

.block
  .title= "Category Details"
  .inside
    %table.entry
      %tbody
        = RDisplay.row('Name',f.text_field(:name, :class=>'short required')+required)
        = RDisplay.row('Title',f.text_field(:title, :class=>'normal')+optional)

.block
  .title= 'Parent Information'
  .inside
    %table
      %tbody
        = RDisplay.row_for_selection_with_none('Parent', item, :parent_id, Category.all)
    
