
- item ||= @object

= page_title_for item, :edit, 'Details and Parent'

= form_for(item) do |f|
  = render :partial=>'/shared/entry/errors'

  = render :partial=>'details_entry', :locals=>{:f=>f}
  = render :partial=>'/shared/entry/editorial_comment', :locals=>{:f=>f}

.buttons.bot.for_form
  = RDisplay.cancel_form_link("/categories/#{item.id}")
  = RDisplay.submit_form_link("edit_category_#{item.id}")
