
- item ||= @object

= render :partial=>'/layouts/filters'

.buttons.top
  = link_to 'List',categories_path,:class=>'list'

= page_title_for item, :show

.tabs

  = link_to "Details","?show[details]=yes", :class=>here_class(params[:show],'details',true)
  = link_to "Products","?show[products]=yes", :class=>here_class(params[:show],'products')
  .f-right
    = link_to "H","?show[history]=yes", :class=>here_class(params[:show],'history')
    = link_to "Comments","?show[comments]=yes", :class=>here_class(params[:show],'comments')

.undertabs

  - if params[:show] == nil || params[:show] && params[:show][:details]
    = render :partial=>'show_details'
  - elsif params[:show] && params[:show][:products]
    = render :partial=>'show_products'
  - elsif params[:show] && params[:show][:history]
    = render :partial=>'/shared/display/show_history', :locals=>{:field_name=>:history,:no_actions=>true}
  - elsif params[:show] && params[:show][:comments]
    = render :partial=>'/shared/display/show_comments'
