
- item        ||= @object
- table_name  ||= item.class.name.tableize

.block
  .title= 'Product Details'
  .inside
    %table.first
      %tbody
        = RDisplay.id_row(item,:class=>'low')
    %table.next
      %tbody
        = RDisplay.data_row(item,:code,:label=>'Base SKU')
        = RDisplay.data_row(item,:name)
        = RDisplay.data_row(item,:title)
    %table.last
      %tbody
        = RDisplay.row('Brand',RDisplay.link_to_obj(item.brand,:trace,:class=>'low'))
        = RDisplay.row('Category',RDisplay.link_to_obj(item.category,:trace,:class=>'low'))

