
- item ||= @object

%h5= "Product Flags".html_safe
%table.first
  %tbody
    = RDisplay.yn_row(item,:sigma,:yes_class=>'yes_flag_hi',                  :info=>field_info('Product will not be sold via our website',:show=>item.sigma))
    = RDisplay.yn_row(item,:bulk,:yes_class=>'yes_flag_hi',                   :info=>field_info('Product has the ability to be sold in bulk',:show=>item.bulk))
    = RDisplay.yn_row(item,:inherited_bulk,:yes_class=>'yes_flag_hi',         :info=>field_info('Product inherits the bulk flag from Category',:show=>item.inherited_bulk))
%table.last                                                             
  %tbody                                                                
    = RDisplay.yn_row(item,:wholesale,:yes_class=>'yes_flag_hi',              :info=>field_info('Product is sold via a 3rd party distributor (??)',:show=>item.wholesale))
    = RDisplay.yn_row(item,:restricted_use,:yes_class=>'yes_flag_hi',         :info=>field_info('Restricted use info is added to product page',:show=>item.restricted_use))
    = RDisplay.yn_row(item,:notice_to_purchaser,:yes_class=>'yes_flag_hi',    :info=>field_info('Notice to purchaser is added to product page',:show=>item.notice_to_purchaser))

