- item  ||= @object
- skus ||= item.skus

.block
  .title= 'Product SKUs'.html_safe
  .inside
    - if skus && skus.size>0

      %table.list
        %tbody
          %tr
            %th.id.key= 'ID'
            %th.str.code= 'SKU'
            %th.price.right= 'Price'
            %th.str= 'Details'
            %th.status= 'Flags'
            %th.actions= 'Actions'

          - reset_cycle
          - skus.each do |sku|
            %tr{:class=>cycle('odd','even')+row_class_for(sku)}
              %td.id.key= RDisplay.id_link(sku)
              %td.str.code= link_to RDisplay.str(sku.code), sku, :class=>'low'
              %td.price.aright= RDisplay.dollars(sku.price)
              %td.details= sku.get_details
              %td.status= sku.get_flags
              %td.actions
                - if sku.active
                  = link_to 'Disable', "/products/#{item.id}/show_with_actions?activate_sku=#{sku.id}"
                  = link_to 'Publish', "/products/#{item.id}/show_with_actions?publish_sku=#{sku.id}"
                - else
                  = link_to 'Enable', "/products/#{item.id}/show_with_actions?activate_sku=#{sku.id}"
  
