%label= "Component &rarr; ".html_safe
= f.collection_select :component_id, Product.for_select, :id, :name_for_selection
= f.text_field :position, :class=>'tiny'
= ' &larr; Position | Remove? &rarr; '.html_safe
= f.check_box :_destroy, :class=>'checkbox'
%br
