
- item        ||= @object
- class_name  ||= item.class.name.titleize
- table_name  ||= item.class.name.tableize
- object_name ||= table_name.singularize

= render :partial=>'/shared/help/index', :locals=>{:blocks=>[:form_colors]}

= page_title_for item, :edit, 'Details, SKUs, and Flags'

= nested_form_for(item) do |f|
  = render :partial=>'/shared/entry/errors'

  = render :partial=>'details_entry', :locals=>{:f=>f}
  
  .block.for_line_items
    .title= 'Product SKUs'
    .content
      = f.fields_for :skus do |sku_form|
        = render :partial=>'sku_entry',    :locals=>{:sku_form=>sku_form}
      = f.link_to_add "Add a SKU", :skus
  
  = render :partial=>'flags_entry',   :locals=>{:f=>f}

  = render :partial=>'/shared/entry/editorial_comment', :locals=>{:f=>f}

.buttons.bot.for_form
  = RDisplay.cancel_form_link("/#{table_name}/#{item.id}")
  = RDisplay.submit_form_link("edit_#{object_name}_#{item.id}")
