<%- if @filter %>
  <%= content_for :filters do %>

    <% block_id = 'flters_table' %>
    <% block_class = params[:filter] ? 'noshow' : 'noshow' %>
    <% top_class   = params[:filter] ? 'open' : 'closed' %>

    <div class="block filters">
      <div class='title clickable <%= top_class %>' id='<%= "#{block_id}_t" %>' onclick="flipBlock('<%= block_id %>')"><span class='tag'></span>Search Filters</div>
      <div  id="<%= block_id %>" class="inside <%= block_class %>">

        <%= form_for(:filter,:url=>{:action=>'index'},:html=>{:id=>'filters',:method=>'get'}) do |f| %>

          <table cellspacing=0>
            <tbody>

              <tr>
                <td class='first'>

                  <%= @filter.search_field %>

                  <% if @filter.boolean_field_registered?(:active) %>
                    <%= @filter.boolean_dropdown_field(:label=>'-Active',:name=>'active') %>
                  <% end %>

                  <% if @filter.boolean_field_registered?(:adjusted) %>
                    <%= @filter.boolean_dropdown_field(:label=>'-Adjusted',:name=>'adjusted') %>
                  <% end %>

                  <% if @filter.boolean_field_registered?(:published) %>
                    <%= @filter.boolean_dropdown_field(:label=>'-Published',:name=>'published') %>
                  <% end %>

                </td>
                <td class="first right"><%= @filter.paginate_fields %><%= @filter.sort_by_fields %></td>
              </tr>

              <tr>
                <td class='last'>

                  <%= yield %>

                </td>
                <td class="last right controls"><%= @filter.default_links %></td>
              </tr>

            </tbody>
          </table>

        <% end %>

      </div>
    </div>

  <%- end %>
<%- end %>